section {
    padding: 5rem 9% 5rem;
    background-color: #161616;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.about, .history, .experience, .contact {
    padding: 3rem 0;
}

.about h2, .history h2, .experience h2, .contact h2 {
    font-size: 3rem;
    color: #ADD8E6;
    margin-bottom: 1rem;
}

.about p, .history p, .experience p, .contact p {
    font-size: 1.6rem;
    color: white;
    line-height: 1.5;
}

@media (max-width: 768px) {
    section {
        padding: 3rem 2rem;
    }

    .about h2, .history h2, .experience h2, .contact h2 {
        font-size: 2.5rem;
    }

    .about p, .history p, .experience p, .contact p {
        font-size: 1.4rem;
    }
}
